@import "./abstracts/variables";
@import "./vendors/bootstrap";

.highlighted {
  background: linear-gradient(-45deg, transparent 0.25em, $dark 0.25em);
  color: $dark;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  position: relative;
  color: #fff;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0.15em;
    border-top: 0.25em solid transparent;
    border-bottom: 0.25em solid transparent;
    border-right: 0.25em solid $yellow;
    transform: rotate(45deg);
  }
}
